<div class="col-md-12 panel-primary">
    <div class="content-box-header panel-heading">
      <div class="panel-header">Reporte de Participación de Estudiante </div>    
      <!--<div class="panel-options">
         <a href="#" data-rel="collapse"><i class="fa fa-file-excel" style="font-size:24px;"></i></a>
         <a href="#" data-rel="reload"><i class="fa fa-file-pdf" style="font-size:24px;"></i></a>
      </div>-->
    </div>
    <div class="content-box-large box-with-header panel-body">
        <form>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="">Buscar por Código de Estudiante:</label>
                </div>                        
                <div class="col-sm-4">                       
                   <input size="40" type="text" name="idalumno" [(ngModel)]="idalumno" placeholder="Ingrese Código de Estudiante"/>
                </div>
                <button type="submit" class="btn btn-sm btn-primary" (click)="geDatatHours()" ><span class="glyphicon glyphicon-search"></span> Buscar</button> 
            </div>
        </form>     
    </div>

    <div class="panel-danger" *ngIf="vNdata">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Año</th>
                                <th>Nombre del Evento</th>                      
                                <th>Fecha</th>
                                <th>Tipo</th>                      
                                <th>Nivel</th>
                                <th>Certificado</th>
                                <th>Premio</th>
                                <th>T.Parcp.</th>
                                <th>H</th>
                                <th>T.H.</th>                     
                            </tr>
                        </thead>  
                        <tbody>
                            <tr>
                                <td colspan="10"><h4>No se encontraron datos en su búsqueda</h4></td>
                            </tr>
                        </tbody>  
                </table> 
            </div> 
            <div class="panel-footer"></div>      
    </div>
    <div class="panel-primary" *ngIf="vData">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-8 alert alert-info">
                    <h2>Participación Estudiante</h2>
                    <h5>Carrera       : {{hours[0].NomEscuela}}</h5>
                    <h5>Código        : {{hours[0].IDAlumno}}</h5>
                    <h5>Estudiante    : {{hours[0].NomCompleto}}</h5>
                    <h5><strong>Horas Totales : {{hours[0].horastotal}}</strong></h5>
                </div>
                <div class="col-md-4">
                    <!--<img src="../../assets/images/nofoto.jpg" alt="CIE" height="37%" width="37%">-->
                </div>                
            </div>  
            <table class="table table-bordered table-hover table-condensed">
              <thead>
                  <tr>
                      <th>Año</th>
                      <th>Nombre del Evento</th>                      
                      <th>Fecha</th>
                      <th>Tipo</th>                      
                      <th>Nivel</th>
                      <th>Certificado</th>
                     <!-- <th>Premio</th>
                      <th>T.Parcp.</th>-->
                      <th>H.</th>
                     <!-- <th>T.H.</th>-->                     
                  </tr>
              </thead>  
              <tbody>
                   <tr *ngFor="let hour of hours">
                        <td>{{hour.Anno}}</td>
                        <td>{{hour.Nombre}}</td>
                        <td>{{hour.FechaIni}}</td>
                        <td>{{hour.Tipo}}</td>
                        <td>{{hour.Nivel}}</td>
                        <td>{{hour.Certificado}}</td>
                        <!--<td>{{hour.Premiado}}</td>
                        <td>{{hour.TParticp}}</td>-->
                        <td>{{hour.Horas}}</td>
                      <!--  <td>{{hour.horastotal}}</td> -->                
                    </tr>                                     
                </tbody>             
            </table>
        </div>
        <div class="panel-footer"></div>
    </div>
  </div>
